<div class="n_left">
  <div class="n_left_list">
    <ul>
 
      <!--<li ><a href="news.php" class="current">公司动态</a></li>
      <li ><a href="news.php">行业动态</a></li>-->
      
        {#section loop=$news_menu name=rs#}
          <li><a href="news_{#$news_menu[rs].id#}.html" {#if $a_id|default:"0"==$news_menu[rs].id#}class="current"{#/if#}>{#$news_menu[rs].sortname#}</a></li>
      {#/section#}
    </ul>
  </div>
  <div style="text-align:center; padding-left:6px;">
    <div class="ny_title"><img class="img_left"   src="images/tle_tu.jpg" width="210" height="100" /></div>
    <div style="display:block;"></div>
  </div>
</div>
