<div class="top"><img class="logo" src="images/logo.gif" width="80" height="104" />
    <div class="logomenu">
       <ul>
        <li><a href="index.html"><img src="images/menu_home.gif" width="54" height="24" /></a></li>
        <li><a href="about.html"><img src="images/menu_about.gif" width="54" height="24" /></a></li>
        <li><a href="news.html"><img src="images/menu_news.gif" width="54" height="24" /></a></li>
        <li><a href="product.html"><img src="images/menu_product.gif" width="54" height="24" /></a></li>
        <li><a href="network.html"><img src="images/menu_network.gif" width="54" height="24" /></a></li>
        <li><a href="service.html"><img src="images/menu_service.gif" width="54" height="24" /></a></li>
        <li><a href="contact.html"><img src="images/menu_contact.gif" width="54" height="24" /></a></li>
      </ul>
    </div>
  </div>