<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{#include file="_title.html"#}
<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>

<body style="background:url(images/body_bg_pro.jpg) center top no-repeat;">
<div class="infobody">
  {#include file="_top.html"#}
 <div class="ny_content">
   <div class="location"><h1><font class="img_left">关于捷帕 <span>ABOUT US</span></font> <div class="location_rightwz"><img src="images/Icon_1.gif" class="img_left" width="15" height="11"  /><a href="index.php">首页</a> > <a href="index.php">关于捷帕</a> > 企业文化</div></h1></div>
   {#include file="_left_about.html"#}
  <div class="n_right"> 
  <h2><font class="img_left">about us <span>关于捷帕</span></font></h2>
   <h3>corporate culture</h3>
  <div class="n_main_wz">
  <p class="indent">24日，日本首相野田佳彦在记者会上声称，今后将强化包括钓鱼岛在内的“日本岛屿”周边的警备，且在海上保安厅及警察力量力不能及的情况下，自卫队将参与“岛屿治安视频：外交部称日本关于钓鱼岛决议非法和徒劳</p>
  <p class="indent">来源：CCTV新闻频道”工作。当天，日众议院还通过钓鱼岛独岛“决议”，宣称两岛均是“日本领土”。</p>
  <p>欲推“三大举措”</p>
  <p class="indent">当天，野田在首相官邸召开记者会，对日本国民“宣示”在岛屿问题上的决心。野田上任以来，日本与周边国家先后在北方四岛(俄称南千岛群岛)、独岛(日称竹岛)以及中国领土钓鱼岛问题上外交冲突加剧，让日本的周边外交陷入罕见的“冰河期”。</p>
  <p class="indent">野田称，8月以来，日本周边海域接连发生“与日本主权”相关的事件，作为首相他将“以坚决的态度、冷静沉着地”履行保卫日本领土的职责，在此问题上“绝不后退”。</p>
  </div>
  </div>
  <div class="content_bottom"></div>
 </div> 
<div class="clear"></div>
</div>
{#include file="_foot.html"#}
</body>
</html>
