<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{#$info_details.0.product_name#}_捷帕(深圳)汽车电子有限公司</title>
<meta name="keywords" content="{#$info_details.0.keyword|default:$info_details.0.product_name#}">
<meta name="description" content="{#$info_details.0.description|default:$info_details.0.product_name#}">
<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>

<body style="background:url(images/body_bg_pro.jpg) center top no-repeat;">
<div class="infobody">
  {#include file="_top.html"#}
 <div class="ny_content">
   <div class="location"><h1><font class="img_left">产品展示 <span>products</span></font> <div class="location_rightwz"><img src="images/Icon_1.gif" class="img_left" width="15" height="11"  /><a href="index.php">首页</a> > 产品展示</div></h1></div>
   {#include file="_left_pro.html"#}
  <div class="n_right"> 
  <h2><font class="img_left">products <span>产品展示</span></font></h2>
   <h3>product show</h3>
  <div class="new_detailed">
    <h6>{#$info_details.0.product_name#}</h6>
{#$info_details.0.product_content|replace:"../Uploadfiles/":"/jp/Uploadfiles/"#}
    </div>
    <!--分页-->
              <div class="news_c">
                <ul>
                   <li>
                      {#if $pre_info.0==""#}
                          <span>查看上一篇:</span> 已经是第一篇. 
                     {#else#}
                          <span>查看上一篇:</span> <a href="product_show_{#$pre_info.0#}.html">{#$pre_info.1#}</a>
                     {#/if#}
                   
                   </li>
                   <li>
                      {#if $nex_info.0==""#}
                          <span>查看下一篇:</span> 已经是最后一篇.</p>
                     {#else#}
                          <span>查看下一篇:</span> <a href="product_show_{#$nex_info.0#}.html">{#$nex_info.1#}</a>
                     {#/if#}
                   </li>
                </ul>
              </div>
            <!--结束--> 
  </div>
  <div class="content_bottom"></div>
 </div> 
<div class="clear"></div>
</div>
{#include file="_foot.html"#}
</body>
</html>
